
Přihlášen: <b>{$skautisUserName}</b> (SkautIS) | <a href="{$skautisLogoutUrl}">Odhlásit</a><br>
Do automatického odhlášení zbývá <b id="jsAutoLogout">{$skautisLogoutMins}</b> minut.

<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.setInterval(function(){
            var timeCounterEl = document.querySelector("#jsAutoLogout");
            var currentMins = parseInt(timeCounterEl.innerHTML);
            var remaining = currentMins - 1;
            timeCounterEl.innerHTML = remaining >= 0 ? remaining : 0;
            if (remaining <= 5) {
                timeCounterEl.style.color = "red";
            }
        }, 60*1000);
    }, false);
</script>
